.forecast {
  width: 250px;
  height: 500px;
  padding: 20px;
  flex: 1 1 300px;
  min-width: 250px;
  border-radius: 20px;

  color: white;
}
.forecast__name {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px;
  font-weight: 600;
}
.forecast__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 16px;
  border-radius: 14px;
  
  margin-bottom: 20px;
}


.forecast__left {
  display: flex;
  align-items: center;
  gap: 10px;
}


.forecast__icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.forecast__temp {
  font-weight: 600;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow:
    inset 0 4px 6px rgba(255, 255, 255, 0.25),
    0 8px 20px rgba(0, 0, 0, 0.15);
}