.weather-card {
  height: 500px;
  flex: 2 1 550px;
  min-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.weather-card__city {
  font-size: 20px;
}
.weather-card__location {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 18px;
  font-weight: 500;

  opacity: 0.9;
}
.weather-card__top {
  display: flex;
  justify-content: space-between;

  align-items: flex-start;

  max-width: 460px;
}

.weather-card__top img {
  width: 100px;
}

.weather-card__location img {
  width: 24px;
}

.weather-card__temp {
  font-size: 52px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

.weather-card__desc {
  font-size: 16px;
  opacity: 0.85;
}

.weather-card__range {
  display: flex;
  gap: 25px;
  margin-top: 5px;

  font-size: 14px;
  opacity: 0.75;
}

.weather-card__stats {
  display: flex;
  gap: 25px;
  margin-top: auto;
}

.weather-card__stat {
  position: relative;
  flex: 1;

  height: 90px;
  width: 140px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.stat__top {
  display: flex;
  align-items: center;
  gap: 8px;

}

.stat__icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  position: absolute;
  
  left: 3px;
  top: 12px;
}

.stat__label {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.stat__value {
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
}

