.sidebar {
  height: 500px;
  flex: 1 1 250px;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.sidebar__name {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 15px;
  padding: 6px;
  text-transform: uppercase;
}

.sidebar__item {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sidebar__item button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}