.app {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.app__overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 70px;

  background: rgba(0, 0, 0, 0.1);
}


.app__search {
  display: flex;
  justify-content: center;

  padding-bottom: 40px;
}


.app__content {
  display: flex;
  gap: 40px;
  flex: 1;
}


.sidebar {
  flex: 1;
}


.weather-card {
  flex: 2;
}


.forecast {
  flex: 1;
}