.app {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}



.app__overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);

  padding: 40px clamp(20px, 5vw, 70px);
}

.app__search {
  display: flex;
  justify-content: center;

  padding-bottom: 40px;
}


.app__content {
  display: flex;
  gap: clamp(20px, 3vw, 40px);
  flex: 1;
}


.sidebar {
  flex: 1;
}


.weather-card {
  flex: 2;
}


.forecast {
  flex: 1;
}